.table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.th {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #1e1e1e;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ddd;
  color: #555;
  font-size: 14px;
  text-transform: capitalize;
}

.typeBadge {
  font-weight: 500;
}