.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app {
  padding: 16px;
}

